.movies-section {
  padding: 1rem;
}

.category-container {
  display: flex;
  align-items: center;
  position: relative;
}

.popular-movies {
  display: flex;
  gap: 0.8rem;
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.scroll {
  position: absolute;
  background-color: #19252f91;
  border: 1px solid rgba(255, 255, 255, 0.205);
  padding: 0.4rem 0.7rem;
  border-radius: 999px;
}

.scroll.left {
  left: -10px;
}

.scroll.right {
  right: -10px;
}

.scroll:hover {
  background-color: #2c4050a6;
}

.popular-movies::-webkit-scrollbar {
  display: none;
}

.movie-card {
  flex-shrink: 0;
  border-radius: 5px;
  width: clamp(80px, 20vw, 180px);
  scroll-snap-align: start;
}

.movie-card.loading {
  border: 2px solid rgba(245, 245, 245, 0.37);
  border-radius: 5px;
  height: 100px;
  padding: 1rem;
}

.card-image {
  width: 100%;
  border-radius: 5px;
  object-fit: fill;
}
.card-title {
  color: white;
}

.section-title {
  color: white;
  font-size: 1rem;
}
